<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/admin/css/admin.css">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Admin</title>
</head>
<body>
  <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
    <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
    <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
      <img
           class="rounded-pill img-fluid"
           width="65"
           src="/assets/images/user.jpg"
           alt="">
      <div class="ms-2">
        <h5 class="fs-6 mb-0">
          <a class="text-decoration-none" href="#"><%= name %> </a>
        </h5>
      </div>
    </div>

    <ul class="categories list-unstyled">
      <li class="">
        <i class="uil-map-marker-home"></i><a href="/admin">Home</a>
      </li>
      <li class="">
        <i class="uil-map-marker-admin"></i><a href="/admin/group">Group</a>
      </li>
      <li class="">
        <i class="uil-map-marker-teacher"></i><a href="/admin/teacher">Teacher</a>
      </li>
      <li class="">
        <i class="uil-map-marker-course"></i><a href="/admin/course">Course</a>
      </li>
      <li class="">
        <i class="uil-map-marker-student"></i><a href="/admin/student">Student</a>
      </li>
    </ul>
  </aside>

  <section id="wrapper">
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid mx-2">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">admin<span class="main-color">CRM</span></a>
          <h2 class="heading">Add new group</h2>
        </div>
      </div>
    </nav>

    <h3 class="group-heading">Yangi guruh qo'shish</h3>

    <form class="form-course" action="/admin/group/add" enctype="application/x-www-form-urlencoded" method="post" class="w-75">
      <label class="label-group">Guruh nomi</label>
      <input class="form-control" type="text" name="groupName" placeholder="Guruh nomi" required>

      <div class="d-flex align-items-center flex-wrap">
        <div class="select-wrapper">
          <label class="label-group">Guruh yo'nalishi</label>
          <select class="form-control" name="courseId">
            <% courseId.map(element => { %>
             <option value="<%= element %>"><%= element %></option>
            <% }) %>
          </select>
        </div>

        <div class="select-wrapper">
          <label class="label-group">Dars kunlari</label>
          <select class="form-control" name="kun">
            <option value="DU-CHOR-JUMA">DU-CHOR-JUMA</option>
            <option value="SE-PAY-SHAN">SE-PAY-SHAN</option>
          </select>
        </div>

        <div class="select-wrapper">
          <label class="label-group">Dars vaqtlari</label>
          <select class="form-control" name="soat">
            <option value="09:00-11-00">09:00-11-00</option>
            <option value="11:00-13-00">11:00-13-00</option>
            <option value="13:00-15-00">13:00-15-00</option>
            <option value="15:00-17-00">15:00-17-00</option>
          </select>
        </div>

        <div class="select-wrapper">
          <label class="label-group">O'qituvchi</label>
          <select class="form-control" name="teacher">
            <% teacher.map(element => { %>
             <option value="<%= element %>"><%= element %></option>
            <% }) %>
          </select>
        </div>
      </div>

      <button class="add-btn mt-4">Add group</button>
    </form>

    <h3 class="group-heading">Mavjud guruhlar</h3>

    <div class="wrapper-groups d-flex align-items-center justify-content-between flex-wrap pb-5">
      <% groups.map(element => { %>
        <div class="card" style="width: 19rem;">
          <div class="card-body p-0">
            <div class="card-header">
              <h3 class="card-title"><%= element.groupName %></h3>
              <h3 class="card-subtitle mb-2 <%= typeof element.courseId == 'number' ? 'text-danger h4' : '' %>"><%= typeof element.courseId == 'number' ? 'Kurs tugatildi' : element.courseId %></h3>
            </div>
           <div class="card-body">
            <div class="card-body-teacher d-flex align-items-center justify-content-between">
              <img class="img-teacher" src="<%= element.img %>" alt="user" width="80" height="80">

              <div class="card-body-teacher-content">
                <p class="card-body-teacher-name m-0">
                  Teacher: <span class="teacher ms-1"> <%= element.teacher %></span>
                </p>

                <p class="card-body-teacher-number m-0">
                  Number: <span class="number ms-1"> <%= element.number %></span>
                </p>
              </div>
            </div>

            <div class="card-news  mt-3">
              <div class="card-news-wrapper d-flex align-items-center justify-content-between">
                <p class="card-news-day">Dars kunlari:</p>
                <p class="card-news-day-week"><%= element.kun %></p>
              </div>

              <div class="card-news-wrapper d-flex align-items-center justify-content-between">
                <p class="card-news-day">Dars vaqti:</p>
                <p class="card-news-day-week"><%= element.soat %></p>
              </div>
            </div>

            <button class="delete-group-btn">
              <img id="<%= element.id %> " src="/assets/images/delete.png" alt="delete" width="20" height="20">
            </button>
           </div>
          </div>
        </div>
      <% }) %>
    </div>

  </section>

  <script src="/assets/admin/js/adminGroups.js"></script>
</body>
</html>