<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher</title>
</head>
<body>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/admin/css/admin.css">
    <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Teacher</title>
  </head>
  <body>
    <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
      <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
      <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
        <img
             class="rounded-pill img-fluid"
             width="65"
             src="<%= foundTeacher.img %> "
             alt="">
        <div class="ms-2">
          <h5 class="fs-6 mb-0">
            <a class="text-decoration-none" href="#"><%= name %> </a>
          </h5>
        </div>
      </div>

      <ul class="categories list-unstyled">
        <li class="">
          <i class="uil-map-marker-admin"></i><a href="#">Groups</a>
        </li>
      </ul>
    </aside>

    <section id="wrapper">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid mx-2">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">admin<span class="main-color">CRM</span></a>

            <div class="logout-wrapper" id="logout">
              <img class="logout-img" src="/assets/images/logout.png" alt="logout" width="20" height="20">
              <p class="m-0 text-white ms-1">Logout</p>
            </div>
          </div>
        </div>
      </nav>

      <div class='block'><p>sayt test rejimida ishlamoqda!</p></div>

      <table class="table caption- table-dark table-hover table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Guruh Nomi</th>
            <th scope="col">Guruh yo'nalishi</th>
            <th scope="col">Dars kunlari</th>
            <th scope="col">Dars soatlari</th>
          </tr>
        </thead>
        <tbody>
          <% foundGroups.map((course, i) => { %>
            <tr class="rows">
                <th id="<%= course.id %>" scope="row"><%= i + 1 %></th>
                <td id="<%= course.id %>"><%= course.groupName %></td>
                <td id="<%= course.id %>"><%= course.courseName %></td>
                <td id="<%= course.id %>"><%= course.kun %></td>
                <td id="<%= course.id %>"><%= course.soat %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </section>

    <script src="/assets/admin/js/admin.js"></script>
    <script src="/assets/teacher/teacher.js"></script>
  </body>
  </html>
</body>
</html>